body {
  background: #eeeeee;
}
.app-container {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background: #282c34;
  color: white;
}
main {
  margin: 50px auto;
}

table,
th,
td {
  border: 1px solid $black;
}

table {
  background: white;
}

th {
  height: 50px;
}

td {
  text-align: center;
  height: 100px;
  width: 100px;
}
