// =========================================================
// =COLORS
// =========================================================
$black: #222222;
$blue-gray: #282c34;
$react-blue: #61dafb;

// =========================================================
// =NUMBERS
// =========================================================
$td-size: 70px;
