// =========================================================
// =COLORS
// =========================================================
$black: #222222;
$bg: #eeeeee;
$blue-gray: #282c34;
$react-blue: #61dafb;
$yellow: #ffc600;
$green: #4caf50;
$invalid: #cccccc;

// =========================================================
// =NUMBERS
// =========================================================
$td-size: 70px;
$td-small-size: 35px;
